.jumbotron {
   background: #e73;
   padding-top: 100px;
   color: #fff;
}

a {
   color: #e73;
}

a:hover {
   color: #c63;
}
a:visited {
   color: #c63;
}

body {
  position: relative;
}

.icon-bar {
  padding-top: 40px;
  padding-bottom: 10px;
}

.btn, .btn:visited {
  color: #e73;
}

.btn:hover, .btn:focus {
  color: #c63;
}

.anchor {
   margin-top: -70px;
   padding-top: 70px;
}

.navbar-default {
  background-color: #ee7733;
  border-color: #ee7733;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #cc6633;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #cc6633;
}
.navbar-default .navbar-toggle {
  border-color: #cc6633;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #cc6633;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #cc6633;
  }
}

.fc-time-grid-event > .fc-bg {
  opacity:0.0;
}

.fc-agendaWeek-view .fc-content > .fc-time {
  background-color: #c63;
}

.fc-event-container > a:visited {
  color: #fff
}
